<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="iconName" value="arrow2" />
        <option name="tempFilePath" value="C:\Users\asus\AppData\Local\Temp\libhello.dll14152140450379826622" />
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>