<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="iconName" value="arrow2" />
        <option name="tempFilePath" value="C:\Users\asus\AppData\Local\Temp\libhello.dll12839593592360850413" />
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>