<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="tempFilePath" value="C:\Users\asus\AppData\Local\Temp\libhello.dll4615401741899799260" />
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>